<!doctype html>
{% load static %}

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static 'css/chouki_yosoku.css' %}">
		<script type="text/javascript" src="{% static 'js/long_term_forecast.js' %}"></script>
		<script src="https://kit.fontawesome.com/d995c7ddf7.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" >
		
		<script type="text/javascript">
		$(function(){
			var from = $("#id_fromForecast").datepicker({
					onSelect: function(selectedDate) {
					$("#id_toForecast").datepicker("option","minDate",selectegDate);
				}
			});
				var to =$("#id_toForecast").datepicker({
					onSelect: function(selectedDate){
					$("#id_fromForecast").datepicker("option","maxDate",selectedDate);
				}
			});
			});
			
			$(function() {
				$("#datepicker").datepicker();
 		 	});
 		 	
		</script>
		
		<title>HEMSエネルギーデータ分析システム</title>
		<div class="header">
			<h1><a href="/">HEMSエネルギーデータ分析</a></h1>
				<p><a href="#">ログアウト</a></p>
		</div>

	 </head>
	 <body>

		<div class="main">
		
			<div class="menu">
				<input type="checkbox"  id="toggle">
				<label for="toggle"><span class="fas fa-bars fa-2x"></span></label>
				
					<div class="link">
					
						<ul class="fa-ul">
							<li><a href="/"><i class="fas fa-file-upload fa-li"></i>分析データ作成</a></li>
							<li><a href="toukei_keisan"><i class="fas fa-calculator fa-li"></i>基本統計量の計算</a></li>
							<li><a href="jyuyou_class"><i class="fas fa-chart-bar fa-li"></i>需要クラス別分析</a></li>
							<li><a href="jyuyou_trend"><i class="fas fa-chart-line fa-li"></i>需要トレンド分析</a></li>
							<li><a href="jyuyou_modeling"><i class="fab fa-think-peaks fa-li"></i>需要モデリング</a></li>
							<li><a href="#"><i class="fas fa-chart-area fa-li"></i>長期需要予測</a></li>
							<li><a href="tanki_yosoku"><i class="fas fa-chart-area fa-li"></i>短期需要予測</a></li>
						</ul>
					
					</div>
					
			</div>
			
				<div class="jyuyou_class">
					<h2><i class="fas fa-chart-area fa-fw"></i>長期需要予測</h2>
					
					<div class="input">
    					<form action="{% url 'app:long_term_forecast' %}" method="post">	
    					{% csrf_token %}
    						<div class="chiiki">
    							<p>■地域の指定</p>
    							{{form.area}}
    						</div>
    						
    						<div class="kikan_select">
    						  <p>■予測期間の選択</p>
    							<p class="yyyymmdd">{{form.fromForecast}}から</p>
    							<p class="yyyymmdd">{{form.toForecast}}まで</p>
    						</div>
    						
    						<div class="tanni_select">
    							<p>■予測単位の指定</p>
    							<p class="tanni_form">
    							{{form.forecastUnit}}
    						</div>
    						
    						<div class="yosoku_select">
    							<p>■24時間需要量予測日の指定</p>
    							<p class="yyyymmdd">{{form.forecastDate}}</p>
    						</div>
    						
    						<div class="yosokukion_select">
    							<p>■予測気温の指定</p>
    							<p class="yosokukion_description">
    								予測したい気温を月ごとにカンマ区切りで入力してください。<br>
    								(例：23,21,26)
    							</p>
    							<p class="form_number">{{form.forecastTemp}}</p>
    						</div>
    						
    						<div class="submit_buttom">
    							<p class="submit"><input type="submit" value="実行"></p>
    						</div>
    					</form>
					</div>
					
					<div class="cp_tab">
						<ul>
						
							<li><a href="#" onclick="clickGraph()">月需要量予測</a></li>
							
							<li><a href="#" onclick="clickDesignated()">24時間需要量予測</a></li>
							
							{% if graph %}
           					<div id="graph_img">
                                 <img src={{graph}} />
           					</div>
               				{% endif %}
               				
               				{% if designated %}
           					<div id="designated_img">
                                 <img src={{designated}} />
           					</div>
               				{% endif %}
						</ul>
		
					</div>
					
				</div>
							
		</div>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	</body>
</html>