<!doctype html>
{% load static %}

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static 'css/chouki_yosoku.css' %}">
		<script src="https://kit.fontawesome.com/d995c7ddf7.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" >
		
		<script type="text/javascript">
		$(function(){
			var from = $("#from").datepicker({
					onSelect: function(selectedDate) {
					$("#to").datepicker("option","minDate",selectegDate);
				}
			});
				var to =$("#to").datepicker({
					onSelect: function(selectedDate){
					$("#from").datepicker("option","maxDate",selectedDate);
				}
			});
			});
			
			$(function() {
				$("#datepicker").datepicker();
 		 	});
 		 	
		</script>
		
		<title>HEMSエネルギーデータ分析システム</title>
		<div class="header">
			<h1><a href="/">HEMSエネルギーデータ分析</a></h1>
				<p><a href="#">ログアウト</a></p>
		</div>

	 </head>
	 <body>

		<div class="main">
		
			<div class="menu">
				<input type="checkbox"  id="toggle">
				<label for="toggle"><span class="fas fa-bars fa-2x"></span></label>
				
					<div class="link">
					
						<ul class="fa-ul">
							<li><a href="/"><i class="fas fa-file-upload fa-li"></i>分析データ作成</a></li>
							<li><a href="toukei_keisan"><i class="fas fa-calculator fa-li"></i>基本統計量の計算</a></li>
							<li><a href="jyuyou_class"><i class="fas fa-chart-bar fa-li"></i>需要クラス別分析</a></li>
							<li><a href="jyuyou_trend"><i class="fas fa-chart-line fa-li"></i>需要トレンド分析</a></li>
							<li><a href="jyuyou_modeling"><i class="fab fa-think-peaks fa-li"></i>需要モデリング</a></li>
							<li><a href="#"><i class="fas fa-chart-area fa-li"></i>長期需要予測</a></li>
							<li><a href="tanki_yosoku"><i class="fas fa-chart-area fa-li"></i>短期需要予測</a></li>
						</ul>
					
					</div>
					
			</div>
			
				<div class="jyuyou_class">
					<h2><i class="fas fa-chart-area fa-fw"></i>長期需要予測</h2>
					
					<div class="input">
						<div class="jyuyou_inner">
							<p>■使用データの指定</p>
							<p class="db_select_data"><select name="data" required>
							<option value="">-</option>
							<option value="DBデータから選択1">DBデータから選択1</option>
							<option value="DBデータから選択2">DBデータから選択2</option>
							</select>
						</div>
						
						<div class="kion_inner">
							<p>■気温データの指定</p>
							<p class="db_select_data"><select name="data" required>
							<option value="">-</option>
							<option value="DBデータから選択1">DBデータから選択1</option>
							<option value="DBデータから選択2">DBデータから選択2</option>
							</select>
						</div>
						
						<div class="chiiki">
							<p>■地域の指定</p>
							<p class="chiiki_select"><input type="text" required></p>
						</div>
						
						<div class="kikan_select">
						  <p>■予測期間の選択</p>
							<p class="yyyymmdd"><input type="text" id="from"/>から</p>
							<p class="yyyymmdd"><input type="text" id="to"/>まで</p>
						</div>
						
						<div class="tanni_select">
							<p>■予測単位の指定</p>
							<p class="tanni_form"><select name="tanni" required>
							<option value="">-</option>
							<option value="month">month</option>
							<option value="day">day</option>
							<option value="hour">hour</option>
							</select>
						</div>
						
						<div class="yosoku_select">
							<p>■24時間需要量予測日の指定</p>
							<p class="yyyymmdd"><input type="text" id="datepicker" required></p>
						</div>
						
						<div class="yosokukion_select">
							<p>■予測気温の指定</p>
							<p class="yosokukion_description">
								予測したい気温を月ごとにカンマ区切りで入力してください。<br>
								(例：23,21,26)
							</p>
							<p class="form_number"><input type="number"></p>
						</div>
						
						<div class="submit_buttom">
							<p class="submit"><input type="submit" value="実行"></p>
						</div>
					</div>
					
					<div class="cp_tab">
						<ul>
						
							<li><a href="#">月需要量予測</a>
								<ul>
									<li><a href="#">月需要量予測(グラフ)</a></li>
								</ul>
							</li>
							
							<li><a href="#">24時間需要量予測</a>
								<ul>
									<li><a href="#">24時間需要量予測(グラフ)</a></li>
								</ul>
							</li>
							
						</ul>
		
					</div>
					
				</div>
							
		</div>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	</body>
</html>