<!doctype html>
{% load static %}

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jyuyou_modeling.css' %}">
		<script type="text/javascript" src="{% static 'js/jyuyou_modeling.js' %}"></script>
		<script src="https://kit.fontawesome.com/d995c7ddf7.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" >
		
		<script type="text/javascript">
		$(function(){
			var from = $("#id_fromScreening").datepicker({
					onSelect: function(selectedDate) {
					$("#id_toScreening").datepicker("option","minDate",selectegDate);
				}
			});
				var to =$("#id_toScreening").datepicker({
					onSelect: function(selectedDate){
					$("#id_fromScreening").datepicker("option","maxDate",selectedDate);
				}
			});
			});
		</script>

		<title>HEMSエネルギーデータ分析システム</title>
		<div class="header">
			<h1><a href="/">HEMSエネルギーデータ分析</a></h1>
				<p><a href="#">ログアウト</a></p>
		</div>

	 </head>
	 <body>
		<div class="main">
			<div class="menu">
				<input type="checkbox"  id="toggle">
				<label for="toggle"><span class="fas fa-bars fa-2x"></span></label>
					<div class="link">
						<ul class="fa-ul">
							<li><a href="/"><i class="fas fa-file-upload fa-li"></i>分析データ作成</a></li>
							<li><a href="toukei_keisan"><i class="fas fa-calculator fa-li"></i>基本統計量の計算</a></li>
							<li><a href="jyuyou_class"><i class="fas fa-chart-bar fa-li"></i>需要クラス別分析</a></li>
							<li><a href="jyuyou_trend"><i class="fas fa-chart-line fa-li"></i>需要トレンド分析</a></li>
							<li><a href="#"><i class="fab fa-think-peaks fa-li"></i>需要モデリング</a></li>
							<li><a href="chouki_yosoku"><i class="fas fa-chart-area fa-li"></i>長期需要予測</a></li>
							<li><a href="tanki_yosoku"><i class="fas fa-chart-area fa-li"></i>短期需要予測</a></li>
						</ul>
					</div>	
			</div>
			<div class="jyuyou_class">
				<h2><i class="fab fa-think-peaks fa-fw"></i>需要モデリング</h2>
				<div class="input">
					<form action="{% url 'app:demand_modeling' %}" method="post">	
    					{% csrf_token %}
						
						<div class="chiiki">
							<p>■地域の指定</p>
							<p class="chiiki_select">{{ form.area }}</p>
						</div>
						
						<div class="kikan_select">
							<p>■スクリーニング期間の選択</p>
							<p class="yyyymmdd">{{ form.fromScreening }}から</p>
							<p class="yyyymmdd">{{ form.toScreening }}まで</p>
						</div>
						
						<div class="number_input">
							<p>■除外値の指定</p>
							<p class="form_number">{{ form.excValue }}</p>
						</div>
						
						<div class="normal_number_input">
							<p>■ノーマライズ上限値の指定</p>
							<p class="form_number">{{ form.normalizeMax }}</p>
							<p>■ノーマライズ下限値の指定</p>
							<p class="form_number">{{ form.normalizeMin }}</p>
						</div>
						
						<div class="submit_buttom">
							<p class="submit"><input type="submit" value="実行"></p>
						</div>
					</form>
				</div>
				
				<div class="modeling_result">
     				<div class="cp_tab">
     					<ul class="demand_modeling_tab">
     						<li><a href="#" onclick="clickHistogram()">休日変動係数ヒストグラム</a></li>
     						<li><a href="#">電力需要プロファイル</a>
         						<ul>
     								<li><a href="#" onclick="clickProfiles(1)">1月</a></li>
     								<li><a href="#" onclick="clickProfiles(2)">2月</a></li>
     								<li><a href="#" onclick="clickProfiles(3)">3月</a></li>
     								<li><a href="#" onclick="clickProfiles(4)">4月</a></li>
     								<li><a href="#" onclick="clickProfiles(5)">5月</a></li>
     								<li><a href="#" onclick="clickProfiles(6)">6月</a></li>
     								<li><a href="#" onclick="clickProfiles(7)">7月</a></li>
     								<li><a href="#" onclick="clickProfiles(8)">8月</a></li>
     								<li><a href="#" onclick="clickProfiles(9)">9月</a></li>
     								<li><a href="#" onclick="clickProfiles(10)">10月</a></li>
     								<li><a href="#" onclick="clickProfiles(11)">11月</a></li>
     								<li><a href="#" onclick="clickProfiles(12)">12月</a></li>
     							</ul>
     						</li>		
     						<li><a href="#" onclick="clickNormarized()">平均気温と正規需要</a></li>		
     					</ul>
     				</div>
     				<div class="demand_modeling_imgs">
         				{% if histogram %}
       					<div id="histogram_img">
                             <img src={{histogram}} />
       					</div>
           				{% endif %}
           				
           				{% if profiles %}
           				{% for profile in profiles%}
       					<div id="profile_img_{{ forloop.counter }}" class="profile_img">
                             <img src={{profile}} />
       					</div>
           				{% endfor %}
           				{% endif %}
           				
           				{% if normarized %}
       					<div id="normarized_img">
                             <img src={{normarized}} />
       					</div>
           				{% endif %}
     				</div>
     			</div>
 			</div>
		</div>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	</body>
</html>