<!doctype html>
{% load static %}

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jyuyou_trend.css' %}">
		<script src="https://kit.fontawesome.com/d995c7ddf7.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" >
		
		<script type="text/javascript">
		$(function() {
			$("#datepicker").datepicker();
 		 });
		</script>
		
		<title>HEMSエネルギーデータ分析システム</title>
		<div class="header">
			<h1><a href="/">HEMSエネルギーデータ分析</a></h1>
				<p><a href="#">ログアウト</a></p>
		</div>

	 </head>
	 <body>
	 <form action="{% url 'app:execute_trend' %}" method="post">
    	 {% csrf_token %}
		<div class="main">
		
			<div class="menu">
				<input type="checkbox"  id="toggle">
				<label for="toggle"><span class="fas fa-bars fa-2x"></span></label>
				
					<div class="link">
					
						<ul class="fa-ul">
							<li><a href="/"><i class="fas fa-file-upload fa-li"></i>分析データ作成</a></li>
							<li><a href="toukei_keisan"><i class="fas fa-calculator fa-li"></i>基本統計量の計算</a></li>
							<li><a href="jyuyou_class"><i class="fas fa-chart-bar fa-li"></i>需要クラス別分析</a></li>
							<li><a href="#"><i class="fas fa-chart-line fa-li"></i>需要トレンド分析</a></li>
							<li><a href="jyuyou_modeling"><i class="fab fa-think-peaks fa-li"></i>需要モデリング</a></li>
							<li><a href="chouki_yosoku"><i class="fas fa-chart-area fa-li"></i>長期需要予測</a></li>
							<li><a href="tanki_yosoku"><i class="fas fa-chart-area fa-li"></i>短期需要予測</a></li>
						</ul>
					
					</div>
					
			</div>
			
			<div class="jyuyou_trend">
				<h2><i class="fas fa-chart-line fa-fw"></i>需要トレンド分析</h2>
				
				<div class="input">
					<div class="chiiki">
						<p>■地域の指定</p>
						<p class="chiiki_select">{{form.area}}</p>
					</div>
					
					<div class="kikan_select">
					  <p class="font_weight">■分析開始年の選択</p>
					  <p class="yyyy">from<br>
					  {{form.fromYear}}</p>
							
						<p class="yyyy">to<br>
						{{form.toYear}}</p>
					</div>
					
					<div class="kikan_select">
						<p class="font_weight">■日毎トレンド分析</p>
						<p class="yyyymmdd">{{form.dailyTrend}}</p>
					</div>
					
					<div class="kikan_select">
						<p class="font_weight">■週間トレンド分析</p>
						 <p class="yyyymmww">year<br>
						 {{form.weeklyYear}}</p>
								
						<p class="yyyymmww">month<br>
						{{form.weeklyMonth}}</p>
						
						<p class="yyyymmww">week<br>
						{{form.weeklyWeek}}</p>
					</div>
					
					<div class="kikan_select">
						<p class="font_weight">■年間トレンド分析</p>
						 <p class="yyyymm">year<br>
						 {{form.yearlyYear}}</p>
								
						<p class="yyyymm">month<br>
						{{form.yearlyMonth}}</p>
					</div>
					
					<div class="normal_number_input">
						<p>■ライン上限値の指定</p>
						<p class="form_number">{{form.maxLine}}</p>
						<p>■ライン下限値の指定</p>
						<p class="form_number">{{form.minLine}}</p>
					</div>
					
					<div class="result_select">
						<p class="font_weight">■表示分析結果の選択</p>
						<p class="form_button">
							{{form.trendDisplay}}
						</p>
					</div>
					
					<div class="submit_buttom">
						<p class="submit"><input type="submit" value="実行"></p>
					</div>
				</div>
				
				<div class="cp_tab">
				
					<ul>
						<li><a href="#">需要家トータル分析</a>
							<ul>
								<li><a href="#">需要家トータル分析(グラフ)</a></li>
							</ul>
						</li>
						
						<li><a href="#">需要家クラス別分析結果</a>
							<ul>
								<li><a href="#">high</a></li>
								<li><a href="#">middle</a></li>
								<li><a href="#">low</a></li>
								<li><a href="#">high(グラフ)</a></li>
								<li><a href="#">middle(グラフ)</a></li>
								<li><a href="#">low(グラフ)</a></li>
							</ul>
						</li>
						
						<li><a href="#">外気温需要トレンド分析</a></li>
						
					</ul>
					
					{% if total %}
                    <div id="total_img">
                        <img src={{total}} />
                    </div>
                    {% endif %}
				</div>
							
			</div>
							
		</div>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		</form>
	</body>
</html>