<!doctype html>
{% load static %}

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jyuyou_class.css' %}">
		<script type="text/javascript" src="{% static 'js/jyuyou_class.js' %}"></script>
		<script src="https://kit.fontawesome.com/d995c7ddf7.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
		<!--<script type="text/javascript" src="static/js/custom.js"></script>-->
		<title>HEMSエネルギーデータ分析システム</title>
		<div class="header">
			<h1><a href="/">HEMSエネルギーデータ分析</a></h1>
				<p><a href="#">ログアウト</a></p>
		</div>

	 </head>
	 <body>

		<div class="main">
		
			<div class="menu">
				<input type="checkbox"  id="toggle">
				<label for="toggle"><span class="fas fa-bars fa-2x"></span></label>
				
					<div class="link">
					
						<ul class="fa-ul">
							<li><a href="/"><i class="fas fa-file-upload fa-li"></i>分析データ作成</a></li>
							<li><a href="toukei_keisan"><i class="fas fa-calculator fa-li"></i>基本統計量の計算</a></li>
							<li><a href="#"><i class="fas fa-chart-bar fa-li"></i>需要クラス別分析</a></li>
							<li><a href="jyuyou_trend"><i class="fas fa-chart-line fa-li"></i>需要トレンド分析</a></li>
							<li><a href="jyuyou_modeling"><i class="fab fa-think-peaks fa-li"></i>需要モデリング</a></li>
							<li><a href="chouki_yosoku"><i class="fas fa-chart-area fa-li"></i>長期需要予測</a></li>
							<li><a href="tanki_yosoku"><i class="fas fa-chart-area fa-li"></i>短期需要予測</a></li>
						</ul>
					
					</div>
					
			</div>
			
			<div class="jyuyou_class">
				<h2><i class="fas fa-chart-bar fa-fw"></i>需要クラス別分析</h2>
				
				<div class="input">
					<form action="{% url 'app:analysis_demand_class' %}" method="post">	
    					{% csrf_token %}
    					
    					<div class="chiiki">
    						<p>■地域の指定</p>
    						<p class="chiiki_select">
        						{{ form.area }}
    						</p>
    					</div>
    					
    					<div class="kikan_select">
        					<p>■分析年の選択</p>
        					<p class="yyyy">
        					  　{{ form.year }}年
      						</p>
    					</div>
    					
    					<div class="bunsekijiki">
    						<p>■分析時期の選択</p>
    						<p class="jiki_select">
            					{{ form.season }}
    						</p>
    					</div>
    					
    					<div class="number_input_all">
    						<div id="number_input">
    							<p>■年間ライン上限値の指定</p>
    							<p class="form_number">{{ form.year_max_line}}</p>
    							<p>■年間ライン下限値の指定</p>
    							<p class="form_number">{{ form.year_min_line}}</p>
    						</div>
    						
    						<div id="summer_number_input">
    							<p>■夏季ライン上限値の指定</p>
    							<p class="form_number">{{ form.summer_max_line}}</p>
    							<p>■夏季ライン下限値の指定</p>
    							<p class="form_number">{{ form.summer_min_line}}</p>
    						</div>
    						
    						<div id="winter_number_input">
    							<p>■冬季ライン上限値の指定</p>
    							<p class="form_number">{{ form.winter_max_line}}</p>
    							<p>■冬季ライン下限値の指定</p>
    							<p class="form_number">{{ form.winter_min_line}}</p>
    						</div>
    					</div>
    					
    					<div class="submit_buttom">
    						<p class="submit"><input type="submit" value="実行"></p>
    					</div>
    				</form>
				</div>
				
				<div class="cp_tab">
				
					<ul>
						<li><a href="#" onclick="clickDistribution()">データテーブル</a></li>
						
						<li><a href="#" onclick="clickHistogram()">需要クラス別分析</a></li>
						
						{% if distribution %}
						<div id="distribution_img">
                            <img src={{distribution}} />
						</div>
						{% endif %}
						
						{% if histogram %}
						<div id="histogram_img">
                            <img src={{histogram}} />
                        </div>
						{% endif %}
					</ul>
				</div>
							
			</div>
							
		</div>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	</body>
</html>